@{
    ViewData["Title"] = "Home Page";
}
<label class="switch">
    <input id="demoToggle" type="checkbox">
    <span class="slider round"></span>
</label>

@section Scripts{ 
<script>
    $(document).ready(() => {
        $("#demoToggle").change(function () {
            $.ajax({
                url: `localhost:44334/home/switchdata`,
                type: "POST"
            }).then(() => {
                $.ajax({
                    url: `localhost:44334/home/getstatus`,
                    type: "GET"
                }).then(result => {
                    $("#demoToggle").prop("checked", result);
                });
            });
        });
    });
</script>
}   