@{
    ViewData["Title"] = "Home Page";
    bool demoData = (bool)ViewData["DemoData"];
    string serverUrl = (string)ViewData["ServerUrl"];
    string trackStatus = (string)ViewData["TrackStatus"];
}


<div class="wintrack-container">
    <div class="wintrack-container-top">
        <h5 style="display:block">Maak gebruik van demo data</h5>
        <label class="switch">
            <input id="demoToggle" type="checkbox" @if (demoData) { @Html.Raw("checked") }>
            <span class="slider round"></span>
        </label>
    </div>
    <div class="wintrack-container-bottom">
        <img class="track" src="/images/@(trackStatus).png"/>
        <div class="track-button"></div>
        <div style="display: none;" class="track-window">
            <h5 class="track-window-top" style="flex-basis: 100%;">Wissel spoor</h5>
            <div class="track-window-bottom">
                <div style="display:block">Aansturen wissel</div>
                <label class="switch">
                    <input id="trackToggle" type="checkbox" @if (trackStatus.Contains("Right")) { @Html.Raw("checked") }>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/WinTrack.js"></script>
    <script>
        $(document).ready(() => {
            WinTrack.init("@serverUrl");
            $("#demoToggle").on("click", WinTrack.switchData);
            $(".track-button").on("click", WinTrack.toggleTrackWindow);
            $("#trackToggle").on("click", WinTrack.switchTrack);
        });
    </script>
}   