@{
    ViewData["Title"] = "Home Page";
    bool demoData =  (bool) ViewData["DemoData"];
    string serverUrl = (string) ViewData["ServerUrl"];
}
<label class="switch">
    <input id="demoToggle" type="checkbox" @if (demoData) {@Html.Raw("checked")}>
    <span class="slider round"></span>
</label>

@section Scripts{ 
<script>
    const SwitchData = () => {
        $("#demoToggle").prop("disabled", true);
        $.ajax({
            url: `@serverUrl/home/switchdata`,
            type: "POST"
        }).then(() => {
            setTimeout(() => { $("#demoToggle").prop("disabled", false); }, 1500);
        });
    }
    $(document).ready(() => {
        $("#demoToggle").on("click", SwitchData);
    });
</script>
}   